/* .line::after{
    content: '';
    position: absolute;
    /* border: 2px solid #dc4343; */
    /* display: block;
    width: 1px;
    height: 12rem;
    margin-left:14rem;
    background-color: #dc4343;
    z-index: 10;
} */ 